In [ ]:
# Positional Arguments
#Write a function to take 3 numbers and return largest among them
def largest_three(num1, num2, num3):
    if num1 > num2 and num1 > num3:
        return num1
    elif num2 > num1 and num2 > num3:
        return num2
    else:
        return num3
largest_three(12, 56, 90)

90

In [ ]:
#Arbitrary Arguments, *args
#If you do not know how many arguments that will be passed into your function
#add a * before the parameter name
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Karan", "John", "Arjun")

The youngest child is Arjun

In [ ]:
#Keyword Arguments
def my_function(child3, child2,child1="Karan"):
  print("The youngest child is " + child1)

my_function(child2 = "John", child3 = "Arjun")

The youngest child is Karan

In [ ]:
#Arbitrary Keyword Arguments, **kwargs
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Kapil", lname = "Sharma")

His last name is Sharma

In [ ]:
#Default Parameter Value
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

## Assignments
1. Build a function that takes the string as a parameter and
 returns the words in the given string in backward order.


2. Checks if a given string is a palindrome
2. Find the factorial of a given number.The factorial (symbol: !) means to multiply all whole numbers from the chosen number down to 1.

3. Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700

4. Write a Python program to construct the following pattern, using a nested loop number. Go to the editor
Expected Output:

1

22

333

4444

55555

666666

7777777

88888888

999999999